
* {
   margin: 0; 
   padding: 0; 
   box-sizing: border-box;
}

:root {
   --color-fondo: #0D0D0D;
   --color-tarjetas: #1A1A1A;
   --color-botones-links: #C8102E;
   --color-hover: #A00D24;
   --color-texto: #FFFFFF;
   --color-texto-secundario: #B3B3B3;
   --color-dorado: #C9A227;
}

body {
   background-color: var(color-fondo);
   color: var(color-texto);
   font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   line-height: 1.6;
}